<link rel="stylesheet" type="text/css" href="styles/storytime.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.7.1/page.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents-lite.min.js"></script>
<script src="https://unpkg.com/voir@1.0.10/voir.js"></script>
<script src="lib/aframe.js"></script>
<script src="lib/fps.js"></script>
<script src="lib/howler.js"></script>
<script src="lib/howler.spatial.js"></script>
<script src="util/HowlerFacade.js"></script>
<script src="util/SceneMusicDTO.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.7/vue.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://rawgit.com/bryik/aframe-bmfont-text-component/master/dist/aframe-bmfont-text-component.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tweenjs/0.6.1/tweenjs.min.js"></script>
<a-scene id="ultimate-scene">
  <a-assets>
    <a-asset-item id="piece" src="assets/piece.dae"></a-asset-item>
  </a-assets>
  <a-camera id="camera" position="0 0 0" fps-look-controls wasd-controls="acceleration: 0" fov=60 near=0.1 far=10000>
    <a-cursor id="cursor" fuse="false"
        geometry="primitive: ring" material="color: white">
    </a-cursor>
    <a-entity raycaster="far: 20; interval: 1000; objects: .clickable"></a-entity>
  </a-camera>
  <a-entity id="scene">
    <intro-scene v-if="state.storytime.gameStarted == false"></intro-scene>
    <custom-scene-example v-if="currentPage.customScene === 'custom-scene-example'" v-bind:page="currentPage"></custom-scene-example>
    <story-scene v-if="currentPage.customScene === undefined" v-bind:page="currentPage"></story-scene>
  </a-entity>
</a-scene>
<script src="pages.js"></script>
<link rel="import" href="components/custom-scene-example.html" >
<link rel="import" href="components/intro-scene.html" >
<link rel="import" href="components/story-scene.html" >
<script src="mutators/storytime.js"></script>
<script src="store.js"></script>
<script src="router.js"></script>
<link rel="import" href="components/app.html" >
