<template>
  <a-entity>
    <a-entity v-bind:position="pagePosition.x+' '+pagePosition.y+' '+pagePosition.z" v-if="pageOpacity!=0">
      <a-collada-model id="pagebox" src="assets/textbox.dae"></a-collada-model>
      <a-entity position="-.75 -.1 .1" scale=".3 .3 .3" v-bind:bmfont-text="'text: '+page.description+'; align: center; color:white; opacity:'+pageOpacity"></a-entity>
      <a-box  position="0 -.2 0" scale=".1 .1 .1" v-bind:material="'color: green; opacity:'+pageOpacity" @click="hidePageText"></a-box>
    </a-entity>
    <a-entity v-bind:position="actionPosition.x+' '+actionPosition.y+' '+actionPosition.z" v-bind:rotation="actionRotation.x+' '+actionRotation.y+' '+actionRotation.z" v-if="actionOpacity!=0">
      <a-collada-model id="actionbox" src="assets/textbox.dae"></a-collada-model>
      <a-entity position="-.75 -.1 .1" scale=".3 .3 .3" v-bind:bmfont-text="'text: '+actionText+'; align: center; color:white; opacity:'+actionOpacity"></a-entity>
      <a-box  position="-.2 -.2 0" scale=".1 .1 .1" v-bind:material="'color: green; opacity:'+actionOpacity" @click="acceptAction"></a-box>
      <a-box  position=".2 -.2 0" scale=".1 .1 .1" v-bind:material="'color: red; opacity:'+actionOpacity" @click="cancelAction"></a-box>
    </a-entity>
    <a-entity v-bind:position="descriptionPosition.x+' '+descriptionPosition.y+' '+descriptionPosition.z" v-bind:rotation="descriptionRotation.x+' '+descriptionRotation.y+' '+descriptionRotation.z" v-if="descriptionOpacity!=0">
      <a-collada-model id="descriptionbox" src="assets/textbox.dae"></a-collada-model>
      <a-entity position="-.75 -.1 .1" scale=".3 .3 .3" v-bind:bmfont-text="'text: '+descriptionText+'; align: center; color:white; opacity:'+descriptionOpacity"></a-entity>
      <a-box  position="0 -.2 0" scale=".1 .1 .1" v-bind:material="'color: green; opacity:'+descriptionOpacity" @click="hideDescriptionText"></a-box>
    </a-entity>
    <a-collada-model v-for="scene in page.scenes" v-bind:src="scene+'?'+randomness" @click="sceneTouched($event)" @model-loaded="onModelLoaded($event)"></a-collada-model>
    <a-sky v-bind:src="page.sky"></a-sky>
    <!--flagged items-->
    <a-box position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1"  color="#4CC3D9" v-if="hasFlag('mysterious-box')"></a-box>
  </a-entity>
</template>
<script>

  var defaultPosition = function() { return {x:0,y:1.6,z:-1.3} };

  Vue.component('story-scene', {
    template: document.currentScript.parentNode.querySelector("template").innerHTML,
    props: ["page"],
    data: function(){
      return {
        //this is used for cache busting
        _default: {x:0,y:1.6,z:-1.3},
        randomness: Math.random(),
        pageOpacity: 1,
        pagePosition: defaultPosition(),
        actionOpacity: 0,
        actionPosition: defaultPosition(),
        actionRotation: {x:0,y:0,z:0},
        actionText: "",
        actionPage:"",
        descriptionOpacity: 0,
        descriptionPosition: defaultPosition(),
        descriptionRotation: {x:0,y:0,z:0},
        descriptionText: "",
      }
    },
    created: function(){
      var _this = this;
      this.cursor  = document.querySelector("#cursor").components.cursor;
      document.addEventListener("mousemove",function(){
        _this.updateCurrentIntersection();
      })
      this.howlerFacade = new HowlerFacade();
      this.onPageChange();
    },
    watch: {
       page: function(){
         this.onPageChange();
       }
    },
    methods: {
      onOpacityHack: function(name, opacity) {
        var model = document.querySelector(name);
        if( model != null && model.object3D != null && model.object3D.children != null
            && model.object3D.children[0] != null && model.object3D.children[0].children != null
            && model.object3D.children[0].children[0] != null && model.object3D.children[0].children[0].children != null
            && model.object3D.children[0].children[0].children[0] != null && model.object3D.children[0].children[0].children[0].material != null ) {
            var mat = model.object3D.children[0].children[0].children[0].material;
            mat.transparent = true;
            mat.opacity = opacity;
        }
      },
      recursivelySetOpacity: function( obj, opacity ) {
        if( obj != null && obj.parent != null && obj.parent.name != null && obj.parent.colladaId != null ) {
            var useAlpha = obj.parent.name.startsWith("ALPHA") || obj.parent.colladaId.startsWith("ALPHA");
            if( obj.material != null ) {
                if( useAlpha ) {
                    obj.material.transparent = true;
                    obj.material.opacity = opacity;
                    obj.material.depthWrite = false;
                    obj.material.fog = false;
                }
            }
        }

        if( obj.children != null && Array.isArray( obj.children ) ) {
            for( var key in obj.children ) {
                this.recursivelySetOpacity( obj.children[key], opacity );
            }
        }
      },
      onModelLoaded: function(e){
        this.recursivelySetOpacity( e.target.object3D, 0.5 );
      },
      updateCurrentIntersection: function(){
        if(this.cursor.intersections){
          if(this.cursor.intersections.length>0){
            var name = this.cursor.intersections[0].object.parent.colladaId;
            if(name == undefined){
              return;
            }
            if(name !== this.currentIntersectionName){
              this.onHoverObject(name)
            }
            this.currentIntersectionName = name;
          }
          else {
            if(this.currentIntersectionName != null){
              this.onHoverObject(null)
            }
            this.currentIntersectionName = null;
          }
        }
        else {
          if(this.currentIntersectionName != null){
            this.onHoverObject(null)
          }
          this.currentIntersectionName = null;
        }
      },
      onHoverObject: function(name){
        if(name == null){
          console.log("no known objects hovered over");
        }

        console.log("hovering over "+name);
        for(var i = 0 ; i < this.page.actions.length; i++){
          var action = this.page.actions[i];
          if(action.trigger == name){
            this.cursor.el.setAttribute("material","color:red");

            if(action.hoverSounds){
              action.hoverSounds.forEach(function(sound){
                this.howlerFacade.playSound(sound);
              }.bind(this));
            }
            else if( action.page) {
                var actionPage = getPage( action.page );
                if( actionPage != null ) {
                    actionPage.sounds.forEach(function(sound){
                      this.howlerFacade.playSound(sound);
                    }.bind(this));
                }
            }

            return;
          }
        }

        this.page.sounds.forEach(function(sound){
          this.howlerFacade.playSound(sound);
        }.bind(this));

        this.cursor.el.setAttribute("material","color:white");
      },
      onPageChange: function(){
        this.hideActionText();
        this.hideDescriptionText();
        this.page.sounds.forEach(function(sound){
          this.howlerFacade.playSound(sound);
        }.bind(this));

        var voConfig = {
              path: "assets/voice/" + this.page._NAME + ".wav",
              loop: false,
              volume: 5,
              type: 'dialog',
              name: "voice-" + this.page._NAME
          };

        this.howlerFacade.playSound( voConfig );

        this.showPageText();
      },
      hasFlag: function(flag){
        return this.page.flags && this.page.flags.indexOf(flag)!=-1;
      },
      showPageText: function(){
        this.page.textBoxOffset = this.page.textBoxOffset || {x:0,y:0,z:0};
        this.pagePosition = defaultPosition();
        this.pagePosition.x += this.page.textBoxOffset.x;
        this.pagePosition.y += this.page.textBoxOffset.y;
        this.pagePosition.z += this.page.textBoxOffset.z;

        if(this.pageOpacity==0){
          var _this = this;
          new TWEEN.Tween({opacity:0})
          .to({opacity:1}, 1000)
          .onUpdate(function() {
              _this.pageOpacity = this.opacity;
              _this.onOpacityHack("#pagebox", this.opacity);
          })
          .start();
        }
      },
      hidePageText: function(){
        if(this.pageOpacity==1){
          var _this = this;
          new TWEEN.Tween({opacity:1})
          .to({opacity:0}, 1000)
          .onUpdate(function() {
              _this.pageOpacity = this.opacity;
              _this.onOpacityHack("#pagebox", this.opacity);
          })
          .start();
        }
      },
      showActionText: function(){
        if(this.actionOpacity==0){
          var _this = this;
          new TWEEN.Tween({opacity:0})
          .to({opacity:1}, 1000)
          .onUpdate(function() {
              _this.actionOpacity = this.opacity;
              _this.onOpacityHack("#actionbox", this.opacity);
          })
          .start();
        }
      },
      hideActionText: function(){
        if(this.actionOpacity==1){
          var _this = this;
          new TWEEN.Tween({opacity:1})
          .to({opacity:0}, 1000)
          .onUpdate(function() {
              _this.actionOpacity = this.opacity;
              _this.onOpacityHack("#actionbox", this.opacity);
          })
          .start();
        }
      },
      showDescriptionText: function(){
        if(this.descriptionOpacity==0){
          var _this = this;
          new TWEEN.Tween({opacity:0})
          .to({opacity:1}, 1000)
          .onUpdate(function() {
              _this.descriptionOpacity = this.opacity;
             _this.onOpacityHack("#descriptionbox", this.opacity);
          })
          .start();
        }
      },
      hideDescriptionText: function(){
        if(this.descriptionOpacity==1){
          var _this = this;
          new TWEEN.Tween({opacity:1})
          .to({opacity:0}, 1000)
          .onUpdate(function() {
              _this.descriptionOpacity = this.opacity;
              _this.onOpacityHack("#descriptionbox", this.opacity);
          })
          .start();
        }
      },
      moveCamera: function(newPos){
        var camera = document.querySelector("#camera")
        var pos = camera.components.position.attrValue;
        var startPos = {
          x:pos.x,
          y:pos.y-1.6,
          z:pos.z
        }
        var _this = this;
        new TWEEN.Tween(startPos)
        .to(newPos, 1000)
        .onUpdate(function() {
            camera.setAttribute("position",this.x+" "+(this.y+1.6)+" "+this.z);
        })
        .start();
      },
      acceptAction: function(){
        this.dispatch("go_to_page",this.actionPage);
      },
      cancelAction: function(){
        this.hideActionText();
      },
      sceneTouched: function(e){
        var intersections = e.detail.cursorEl.components.cursor.intersections;
        var name = intersections[0].object.parent.colladaId;
        console.log("you clicked on "+name);
        for(var i = 0 ; i < this.page.actions.length; i++){
          if(this.page.actions[i].trigger == name){
            var action = this.page.actions[i];
            if(action.sounds !== undefined){
              action.sounds.forEach(function(sound){
                this.howlerFacade.playSound(sound);
              }.bind(this));
            }
            if(action.cameraMove){
              this.moveCamera(action.cameraMove);
            }
            if(action.page){
              var camera = document.querySelector("#camera").object3D;
              var vector = new THREE.Vector3();
              camera.getWorldDirection( vector );
              vector.multiplyScalar(-1.3).add(camera.position);
              action.textBoxOffset = action.textBoxOffset || { x:0, y:0, z:0 };
              this.actionPosition = defaultPosition();
              this.actionPosition.x = vector.x + action.textBoxOffset.x;
              this.actionPosition.y = vector.y + action.textBoxOffset.y;
              this.actionPosition.z = vector.z + action.textBoxOffset.z;
              this.actionRotation.x = camera.rotation.x*180/Math.PI;
              this.actionRotation.y = camera.rotation.y*180/Math.PI;
              this.actionRotation.z = camera.rotation.z*180/Math.PI;
              this.actionPage = action.page
              this.actionText = this.page.actions[i].description
              this.hidePageText();
              this.hideDescriptionText();
              this.showActionText();
            }
            if(action.showText){
              var camera = document.querySelector("#camera").object3D;
              var vector = new THREE.Vector3();
              camera.getWorldDirection( vector );
              vector.multiplyScalar(-1.3).add(camera.position);
              action.textBoxOffset = action.textBoxOffset || { x:0, y:0, z:0 };
              this.descriptionPosition = defaultPosition();
              this.descriptionPosition.x = vector.x + action.textBoxOffset.x;
              this.descriptionPosition.y = vector.y + action.textBoxOffset.y;
              this.descriptionPosition.z = vector.z + action.textBoxOffset.z;
              this.descriptionRotation.x = camera.rotation.x*180/Math.PI;
              this.descriptionRotation.y = camera.rotation.y*180/Math.PI;
              this.descriptionRotation.z = camera.rotation.z*180/Math.PI;
              this.descriptionText = this.page.actions[i].showText
              this.hidePageText();
              this.hideActionText();
              this.showDescriptionText();
            }
          }
        }
      }
    }
  })
</script>
